{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Psychowet</title>
</head>
<body>
{% block content %}

<img class="treatment-drug-icon" src="{% static 'images/cat-icon.png' %}">

<p class="center-text">Wybierz interesujące Cię zagadnienie:</p>

<div class="treatment-drug-list-box">
<ul class="treatment-drug-list">
  {% for disorder in disorders_cats %}
  <li>
    <a href="{% url 'treatment_cats' disorder.uuid %}">
      <button class="treatment-drug-button">
      {{ disorder }}
      </button>
    </a>
  </li>
  {% endfor %}
</ul>
</div>

{% endblock content %}
</body>
</html>