{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Psychowet</title>
</head>
<body>
{% block content %}

<h1 class="center-text">Leczenie:</h1>

<div class="main-icon-button-box">
  <a href="psy/">
    <button class="main-icon-button">
      <img src="{% static 'images/dog-icon.png' %}">
      <span>Psy</span>
    </button>
  </a>
  <a href="koty/">
    <button class="main-icon-button">
      <img src="{% static 'images/cat-icon.png' %}">
      <span>Koty</span>
    </button>
  </a>
</div>

{% endblock content %}
</body>
</html>