{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Psychowet</title>
</head>
<body>
{% block content %}

<img class="treatment-drug-icon" src="{% static 'images/cat-icon.png' %}">
<h1 class="center-text">{{ disorder_page.nazwa }}:</h1>

<ul class="specific-treatment-list">
  {% for treatment in treatments_cats %}
  {% if disorder_page == treatment.zaburzenie %}
  <div class="specific-treatment">
    <li class="drug-name">{{ treatment.lek }}</li>
    <li>Dawka: {{ treatment.dawka_kot }}</li>
    <li>{{ treatment.opis }}</li>
  </div>
  <br>
  {% endif %}
  {% endfor %}
</ul>
{% endblock content %}
</body>
</html>