<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Psychowet</title>

  <link rel="stylesheet" href="{% static 'styles/general.css' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
{% include 'navbar.html' %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


{% block content %}

{% endblock content %}

</body>
</html>