body {
  padding-top: 80px;
  margin: 0;
}

.main-icon-button {
  border: none;
  margin: 30px;
  transition: opacity 0.15s;
}

.main-icon-button:hover {
  opacity: 0.6;
}

.main-icon-button img {
  height: 140px;
  vertical-align: middle;
}

.main-icon-button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-icon-button-box span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

.center-text {
  text-align: center;
}

.treatment-drug-icon {
    display: block;
    margin: 0 auto;
    height: 70px;
}

.treatment-drug-list-box{
  display: flex;
  justify-content: center;
}

.treatment-drug-list {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.treatment-drug-button {
  height: 40px;
  border-radius: 8px;
  border-color: grey;
  border-style: solid;
  box-shadow: 0 4px 6px -6px #222;
  transition: opacity 0.15s;
  background-color: white;
}

.treatment-drug-button:hover {
  opacity: 0.6;
}

.specific-treatment-list {
  display: flex;
  align-items: top;
  justify-content: center;
  list-style-type: none;
}

.specific-treatment {
  text-align: center;
  width: 300px;
  border: 1px solid grey;
  border-radius: 9px;
}

.drug-name {
  text-align: center;
  font-weight: bold;
  background-color: rgb(255,198,4);
}

.drug-details-list {
  display: flex;
  align-items: top;
  justify-content: center;
  list-style-type: none;
}

.drug-details {
  text-align: left;
  width: 600px;
  border: 1px solid grey;
  border-radius: 9px;
}

.bold-text {
  font-weight: bold;
}

.create-note-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-note-content{
  border: 1px solid grey;
  border-radius: 9px;
  padding: 15px;
}

.read-notes-big-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-notes-small-box{
  display:flex;
  flex-direction: column;
}


.individual-note{
  margin: 25px 0;
  display:flex;
  flex-direction: row;
  align-items: top;
}

.note-table {
  width: 800px;
  border: 1px solid grey;
  border-radius: 9px;
  table-layout: fixed;
}

.note-table th{
  background-color: rgb(255,198,4);
  text-align: center;
  border: 1px solid grey;
}

.note-table td{
  text-align: left;
  padding: 10px;
  border: 1px solid grey;
}

.desc-column {
  width: 300px;
  word-wrap: break-word;
}

.button-column{
  display: flex;
  flex-direction: column;
}
