body{
padding-top: 80px;
margin: 0;
}

.index-button img{
  height: 140px;
  vertical-align: middle;
}

.index-button{
  border-width: 0;
  margin: 15px;
}

.index-button-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.index-button-box span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}